
<div id="home">
    <div class="bg-image-home" style="background: linear-gradient(0deg,rgba(0,0,0,0.3), rgba(0,0,0,0.0)), url(<%= image_path 'bg-home.jpg'%>)">
      <div class="text-center">
        <h4>Improving accuracy in rare diseases.</h4>
      </div>
      <%= link_to "test our prototype", "#", class: "btn btn-white" %>
    </div>
    <div class="counter-container section-container">
      <div class="counter">
        <div class="counter-blue">123345445.4698095.</div>
        <h4>Number of babies born with a rare disease today.</h4>
      </div>
    </div>
    <div class="blue-container section-container">
      <div class="facts-container ">
        <% data.facts.each do |fact|%>
          <div class="fact">
            <p><%= fact.description %></p>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-around logo-facts">
        <% data.facts.each do |fact|%>
          <%= image_tag fact.logo %>
        <% end %>
      </div>
    </div>
    <div class="mission-container">
      <p>Misdiagnoses in rare diseases are frequent because physicians often navigate the unknown.</p>
      <p>We must create solutions to reduce the time needed to find the right diagnosis.</p>
      <p>Our goal is to increase efficiency and reliability in diagnosing rare diseases.</p>
      <h4>Here is how.</h4>
    </div>
    <div class="keys-container">
      <div class="img-key-section">
        <div class="image-half">
          <%= image_tag 'laptop.png' %>
        </div>
      </div>
      <div class="key-words-container">
        <% data.key_words.each do |key| %>
          <div class="key">
            <p><%= key.key_word.upcase %></p>
          </div>
        <% end %>
      </div>
      <div class="key-description-container">
        <% data.key_words.each do |key| %>
          <div id="text-key" class="d-none">
            <p <%= key.class_key %> ><%= key.text1 %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="collabs-container">
      <p>During our journey, we have collaborated with:</p>
      <div class="logos-container">
        <div class="img-logo"><%= image_tag 'c-logo1.png' %></div>
        <div class="img-logo"><%= image_tag 'c-logo2.png' %></div>
        <div class="img-logo"><%= image_tag 'c-logo3.png' %></div>
        <div class="img-logo"><%= image_tag 'c-logo4.png' %></div>
      </div>
    </div>
    <div class="contact-container  blue-container section-container">
      <div class="contact-text">
        <h4>Let's talk!</h4>
        <p>If you are motivated to help rare disease patients and are willing to contribute to Rare Diagnostics’ vision, drop us an email.
        </p>
        <p>
         Whether you want to join our team, learn more about the project, look for collaborations, or investment opportunities, we are happy to get in touch with you.
       </p>
      </div>
    </div>
    <div class="form-container form-home">
      <%= partial "form" %>
    </div>
      <%= partial "footer" %>
</div>
