
<div id="home">
    <div class="bg-image-home" style="background-image: url(<%= image_path 'bg-home.jpg'%>)">
      <div class="text-center">
        <h4>Improving accuracy in rare diseases.</h4>
        <%= link_to "Test Prototype", "#", class: "btn" %>
      </div>
    </div>
    <div class="counter-container section-container">
      <div class="counter">
        <p>123345445.4698095.</p>
        <p>Number of babies born with a rare disease today.</p>
      </div>
    </div>
    <div class="facts-container blue-container section-container">
      <% data.facts.each do |fact|%>
      <div class="fact">
        <div calss="fact-text"><%= fact.description %></div>
        <div class="fact-icon"></div>
      </div>
      <% end %>
    </div>
    <div class="mission-container section-container">
      <p>Misdiagnoses in rare diseases are frequent because physicians often navigate the unknown.</p>
      <p>We must create solutions to reduce the time needed to find the right diagnosis.</p>
      <p>Our goal is to increase efficiency and reliability in diagnosing rare diseases.</p>
      <p>Here is how.</p>
    </div>
    <div class="keys-container">
      <div class="img-key-section">
        <%= image_tag 'laptop.png' %>
      </div>
      <div class="key-words-container">
        <% %w(reliable, fast, informative, intuitive, private).each do |key| %>
        <div class="key">
          <p><%= key %></p>
        </div>
        <% end %>
      </div>
      <div class="key-description-container">
        <p>I'm here when you hover</p>
      </div>
    </div>
    <div class="collabs-container">
      <p>During our journey, we have collaborated with:</p>
      <div class="logos-container">
        <div class="img-logo">Logo1</div>
        <div class="img-logo">Logo2</div>
        <div class="img-logo">Logo3</div>
        <div class="img-logo">Logo4</div>
      </div>

    </div>
    <div class="form-container blue-container section-container">
      <div class="contact-text">
        <p>Let's talk!</p>
        <p>If you are motivated to help rare disease patients and are willing to contribute to Rare Diagnostics’ vision, drop us an email.
        </p>
        <p>
         Whether you want to join our team, learn more about the project, look for collaborations, or investment opportunities, we are happy to get in touch with you.
       </p>
       <!-- TO DO: form here -->
      </div>
    </div>
</div>
